In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("basics").getOrCreate()

In [2]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [6]:
data_schema = StructType(fields= [
    StructField('age', IntegerType()),
    StructField('name', StringType())
])

In [8]:
df = spark.read.json("data.json",schema=data_schema, multiLine=True)

In [12]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df.describe().show()

+-------+-----------------+-------+
|summary|              age|   name|
+-------+-----------------+-------+
|  count|                2|      2|
|   mean|             29.5|   NULL|
| stddev|6.363961030678928|   NULL|
|    min|               25|  enosh|
|    max|               34|matanel|
+-------+-----------------+-------+

In [14]:
df['age']

Column<'age'>

In [17]:
df.select('age').show()

+---+
|age|
+---+
| 34|
| 25|
+---+

In [21]:
df.select(['name', 'age']).show()

+-------+---+
|   name|age|
+-------+---+
|  enosh| 34|
|matanel| 25|
+-------+---+

In [22]:
df.head(2)

[Row(age=34, name='enosh'), Row(age=25, name='matanel')]

In [23]:
df.head(2)[0]

Row(age=34, name='enosh')

In [24]:
df['age']

Column<'age'>

In [25]:
df.withColumn('new_age', df['age']).show()

+---+-------+-------+
|age|   name|new_age|
+---+-------+-------+
| 34|  enosh|     34|
| 25|matanel|     25|
+---+-------+-------+

In [26]:
df.show()

+---+-------+
|age|   name|
+---+-------+
| 34|  enosh|
| 25|matanel|
+---+-------+

In [27]:
df.withColumn('double_age', df['age'] * 2).show()

+---+-------+----------+
|age|   name|double_age|
+---+-------+----------+
| 34|  enosh|        68|
| 25|matanel|        50|
+---+-------+----------+

In [28]:
df.withColumnRenamed('name', 'nameos').show()

+---+-------+
|age| nameos|
+---+-------+
| 34|  enosh|
| 25|matanel|
+---+-------+

In [29]:
df.createOrReplaceTempView('people')

In [31]:
spark.sql("select * from people").show()

+---+-------+
|age|   name|
+---+-------+
| 34|  enosh|
| 25|matanel|
+---+-------+