In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("dates").getOrCreate()

In [2]:
df = spark.read.csv("HistoricalQuotes.csv", inferSchema=True, header=True)

In [3]:
df.show()

+----------+-----------+----------+--------+--------+----------+
|      Date| Close/Last|    Volume|    Open|    High|       Low|
+----------+-----------+----------+--------+--------+----------+
|02/28/2020|    $273.36|1.067212E8| $257.26| $278.41|   $256.37|
|02/27/2020|    $273.52|8.015138E7|  $281.1|    $286|   $272.96|
|02/26/2020|    $292.65|4.967843E7| $286.53| $297.88|    $286.5|
|02/25/2020|    $288.08|5.766836E7| $300.95| $302.53|   $286.13|
|02/24/2020|    $298.18|5.554883E7| $297.26| $304.18|   $289.23|
|02/21/2020|    $313.05|3.242642E7| $318.62| $320.45|    $310.5|
|02/20/2020|     $320.3|2.514149E7| $322.63| $324.65|   $318.21|
|02/19/2020|    $323.62|2.349599E7|    $320| $324.57|      $320|
|02/18/2020|       $319|3.819055E7| $315.36| $319.75|   $314.61|
|02/14/2020|    $324.95|2.002845E7| $324.74| $325.98|   $322.85|
|02/13/2020|    $324.87|2.368689E7| $324.19| $326.22|   $323.35|
|02/12/2020|     $327.2|2.843257E7| $321.47| $327.22|   $321.47|
|02/11/2020|    $319.61|2.358078E7|  $323.6|  $323.9|   $318.71|
|02/10/2020|    $321.55|2.733722E7| $314.18| $321.55|   $313.85|
|02/07/2020|    $320.03|2.942101E7| $322.37|  $323.4|      $318|
|02/06/2020|    $325.21|2.635639E7| $322.57| $325.22| $320.2648|
|02/05/2020|    $321.45|2.970672E7| $323.52| $324.76|   $318.95|
|02/04/2020|    $318.85|3.415413E7| $315.31| $319.64| $313.6345|
|02/03/2020|    $308.66| 4.34964E7|  $304.3| $313.49|   $302.22|
|01/31/2020|    $309.51| 4.98971E7| $320.93| $322.68|   $308.29|
+----------+-----------+----------+--------+--------+----------+
only showing top 20 rows

In [5]:
df.head(1)

[Row(Date='02/28/2020',  Close/Last=' $273.36',  Volume=106721200.0,  Open=' $257.26',  High=' $278.41',  Low=' $256.37')]

In [9]:
from pyspark.sql.functions import to_date

In [7]:
df = df.withColumn("Date",to_date(df["Date"], "MM/dd/yyyy"))

In [10]:
df

DataFrame[Date: date,  Close/Last: string,  Volume: double,  Open: string,  High: string,  Low: string]

In [12]:
from pyspark.sql.functions import (
dayofmonth, dayofweek, dayofyear, hour, month
)

In [13]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|              28|
|              27|
|              26|
|              25|
|              24|
|              21|
|              20|
|              19|
|              18|
|              14|
|              13|
|              12|
|              11|
|              10|
|               7|
|               6|
|               5|
|               4|
|               3|
|              31|
+----------------+
only showing top 20 rows

In [ ]:
df.select(dayofmonth(df['Date'])).show()